.blog-button {
    background-color: #f4b41b;
    border: 0.15rem solid #f4b41b;
    color: #302c2e;
}
.under-blog-button {
    background-color: #f4b41b;
    border: 0.15rem solid #f4b41b;
    color: #302c2e;
}