.lower {
    display: flex;
}

.left-bar{
    padding: 0px 0px 950px 0px
}

.left-bar-nav {
    display: static;
    background-color: #6c5671;
    width: 179px;
    padding: 10px;
}

.search {
    font-family: Lexend, Arial;
    margin: 0;
    width: 170px;
}

.tag {
    accent-color: #fff7a0;
}

.tag:hover {
    cursor:pointer;
}