html {
    font-family: Lexend, Arial;
    margin: 0;
    background-color: white;
}
body {
    margin: 0px;
    background-color:#d9c8bf;
}
header {
    background-color: #6c5671;
    display: grid;
}
button {
    background-color: #feaae4;
    font-family: Lexend, Arial;
    color: black;
}
button:hover {
    cursor: pointer;
}
.icon-button {
    background-color: #6c5671;
    border: 0px;
    padding: 0px;
}
.icon-button:hover {
    background-color: #6c5671;
    border: 0px outset #6c5671;
    padding: 1px;
}
.nav-icon {
    margin: 0px;
    height: 100%;
    width: 100%;
}
.header-text {
    margin: 0px;
}
a {
    color: #262649;
    font-weight: bold;
}

@media (max-width: 480px) {
    .header-text {
        color: red;
    }

}

@media (min-width: 480px) and (max-width: 768px) {
    .header-text {
        color: orange;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-text {
        color: yellow;
    }
    header {
        padding: 5px;
        grid-template-columns: 60px 1fr;
    }
    button {
        border: 4px outset #feaae4;
        Margin: 5px;
    }
    button:hover {
        border: 4px outset #fff7a0;
        cursor: pointer;
    }
    .icon-button {
        height: 50px;
    }
    .icon-button:hover {
        border: 0px outset #6c5671;
        padding: 1px;
    }
    .header-text {
        padding: 2px 0px 0px 4px;
    }
    main {
        padding: 0px 20px 1000px 20px;
    }
    hr {
        border: 1px solid #6c5671;
    }
    
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .header-text {
        color: green;
    }
    
}

@media (min-width: 1200px) {
    .header-text {
        color: blue;
    }
}