@font-face {
    font-family: "Lexend";
    src: url(/sitewide-resources/Lexend-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Lexend";
    src: url(/sitewide-resources/Lexend-Bold.ttf) format("truetype");
    font-weight: bold;
}

html {
    font-family: Lexend, Arial, sans-serif;
    font-size: 11pt;
    margin: 0;
    padding: 0;
    background-color: #28282e;
}
body {
    background-color: #ffe6c6;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 72rem;
}
body:hover {
    cursor: default;
}
header {
    background-color: #6c5671;
}
.header-text {
    margin: 0px;
    color: white;
}
button {
    background-color: #feaae4;
    font-family: Lexend, Arial, sans-serif;
    font-size: 10pt;
    color: black;
}
.icon-button {
    background-color: #6c5671;
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100%;
}
button:hover {
    cursor: pointer;
}
.icon-button:hover {
    border: 0rem solid #6c5671;
    cursor: pointer;
}
.nav-icon {
    height: 100%;
    width: 100%;
}
.menu-button {
    display: none;
}
.menu-icon {
    display: none;
}
hr {
    border: 0.001rem solid #6c5671;
}
@media (max-width: 26.36rem) {
    body {
        width: 100%;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0.2rem 1rem;
    }
    .header-text {
        Display: none;
    }
    .header-right {
        display: none;
    }
    button {
        border: 0rem solid #6c5671;
        height: 1.33rem;
        margin-bottom: 0.3rem;
    }
    .menu-button {
        display: block;
        height: 3.2rem;
        width: 3.2rem;
        background-color: #6c5671;
        padding: 0;
        margin: auto;
    }
    .menu-icon {
        display: inline;
        height: 100%;
        width: 100%;
    }
    .menu-button:hover {
        border: 0rem;
    }
    .icon-button {
        height: 3.2rem;
        width: 3.2rem;
        margin: auto;
    }
    button:hover {
        border: 0.15rem solid #fff7a0;
    }
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .big-logo {
        width: 10rem;
    }
}
@media (min-width: 26.36rem) and (max-width: 42.1rem) {
    body {
        width: 100%;
    }
    header {
        display: grid;
        grid-template-columns: 3rem 1fr;
        padding: 0.2rem 1rem;
    }
    .header-text {
        Display: none;
    }
    .header-right {
        display: grid;
        grid-template-rows: 0rem 1.5rem;
        margin-left: 1rem;
        margin-top: 0.1rem;
    }
    button {
        border: 0.15rem solid #feaae4;
        height: 1.5rem;
        margin-bottom: 0.1rem;
    }
    button:hover {
        border: 0.15rem solid #fff7a0;
    }
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .big-logo {
        width: 15rem;
    }
}
@media (min-width: 42.1rem) and (max-width: 43.81rem) {
    body {
        width: 100%;
    }
    header {
        display: grid;
        grid-template-columns: 3rem 1fr;
        padding: 0.2rem 1rem;
    }
    .header-right {
        display: grid;
        grid-template-rows: 1.5rem 1.5rem;
        margin-left: 1rem;
    }
    button {
        border: 0.15rem solid #feaae4;
        height: 1.5rem;
    }
    button:hover {
        border: 0.15rem solid #fff7a0;
    }
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .big-logo {
        width: 20rem;
    }
}
@media (min-width: 43.81rem) {
    body {
        width: 47rem;
    }
    header {
        display: grid;
        grid-template-columns: 3rem 1fr;
        padding: 0.2rem 1rem;
    }
    .header-right {
        display: grid;
        grid-template-rows: 1.5rem 1.5rem;
        margin-left: 1rem;
    }
    button {
        border: 0.15rem solid #feaae4;
        height: 1.5rem;
    }
    button:hover {
        border: 0.15rem solid #fff7a0;
    }
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .big-logo {
        width: 20rem;
    }
}
/* iPhones */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3),
    only screen
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3),
    only screen
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3),
    only screen
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2),
    only screen
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3),
    only screen
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) {
        body {
            width: 100%;
        }
        header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 0.2rem 1rem;
        }
        .header-text {
            Display: none;
        }
        .header-right {
            display: none;
        }
        button {
            border: 0rem solid #6c5671;
            height: 1.33rem;
            margin-bottom: 0.3rem;
        }
        .menu-button {
            display: block;
            height: 3.2rem;
            width: 3.2rem;
            background-color: #6c5671;
            padding: 0;
            margin: auto;
        }
        .menu-icon {
            display: inline;
            height: 100%;
            width: 100%;
        }
        .menu-button:hover {
            border: 0rem;
        }
        .icon-button {
            height: 3.2rem;
            width: 3.2rem;
            margin: auto;
        }
        button:hover {
            border: 0.15rem solid #fff7a0;
        }
        main {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .big-logo {
            width: 10rem;
        }
    }