html {
    font-family: Lexend, Arial;
    margin: 0;
}

body {
    margin: 0px;
    background-color:#d9c8bf;
}

header {
    background-color: #6c5671;
    padding: 5px;
    display: grid;
    grid-template-columns: 60px 1fr;
}

button {
    background-color: #feaae4;
    font-family: Lexend, Arial;
    border: 4px outset #feaae4;
    margin: 5px;
}

button:hover {
    border: 4px outset #fff7a0;
    cursor: pointer;
}

.active-button {
    background-color: #fff7a0;
    border: 4px outset #fff7a0;
}

.icon-button {
    background-color: #6c5671;
    border: 0px;
    padding: 0px;
    height: 50px;
}

.icon-button:hover {
    background-color: #6c5671;
    border: 0px outset #6c5671;
    padding: 1px;
}
.nav-icon {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.header-text {
    margin: 0px;
    padding: 2px 0px 0px 4px;
}

.lower {
    display: flex;
}

.left-bar{
    padding: 0px 0px 950px 0px
}

.left-bar-nav {
    display: static;
    background-color: #6c5671;
    width: 179px;
    padding: 10px;
}

.search {
    font-family: Lexend, Arial;
    margin: 0;
    width: 170px;
}

.tag {
    accent-color: #fff7a0;
}

.tag:hover {
    cursor:pointer;
}

main {
    padding: 0px 20px 950px 20px;
}

a {
    color: #262649;
    font-weight: bold;
}

hr {
    border: 1px solid #6c5671;
}